@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
$bg-intro-email: hsl(217, 28%, 15%);
$bg-main: hsl(218, 28%, 13%);
$bg-footer: hsl(216, 53%, 9%);
$bg-testi: hsl(219, 30%, 18%);

$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$light-red: hsl(0, 100%, 63%);

$white: hsl(0, 0%, 100%);

$raleway: "Raleway", sans-serif;
$open-sans: "Open Sans", sans-serif;

body {
  background-color: $bg-main;
  color: $white;
  font-size: 16px;
}

nav {
  font-family: $raleway;
  background-color: $bg-intro-email;
}

.head {
  font-family: $raleway;
  font-weight: 700;
}

.text {
  font-family: $open-sans;
  font-weight: 400;
}

#intro {
  background-color: $bg-intro-email;
  background-image: url(../images/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 200px;
}

@media only screen and (max-width: 375px) {
  #intro {
    background-image: url(../images/bg-curvy-mobile.svg);
  }
}

button {
  height: 50px;
  width: 250px;
  background-image: linear-gradient(to right, $cyan, $blue);
  font-family: $raleway;
  font-weight: 700;
  border: none;
  color: $white;
}

button:hover {
  background-image: linear-gradient(to right, $cyan, $cyan);
}

#content {
  margin-bottom: 100px;
}

.img-box {
  height: 90px;
}

#features {
  margin-bottom: 200px;

  a {
    text-decoration: none;
    color: $cyan;
    border-bottom: 1px solid $cyan;
    padding-bottom: 10px;
  }
  a:hover {
    color: $white;
    border-bottom: 1px solid white;
  }
}

#testimonials {
  margin-bottom: 200px;

  .container {
    background-image: url(../images/bg-quotes.png);
    background-repeat: no-repeat;
  }

  .card {
    background-color: $bg-testi;
    color: $white;
    font-size: 14px;
    box-shadow: 10px 5px $bg-intro-email;
  }

  .user-info {
    .head {
      font-size: 12px;
      margin-bottom: 2px;
    }

    .text {
      font-size: 10px;
    }
  }
}

#subscribe {
  background-image: linear-gradient(to bottom, $bg-main 50%, $bg-footer 50%);
  padding-bottom: 100px;
  .card {
    background-color: $bg-intro-email;
    color: $white;
  }

  button {
    font-size: 12px;
  }

  .form-control {
    height: 50px;
  }
}

footer {
  background-color: $bg-footer;

  a {
    color: $white;
    text-decoration: none;
  }

  a:hover {
    color: $white;
    font-weight: 700;
  }
}
